main {
  display: flex;
  flex-direction: row;

  max-width: 900px;
  height: auto;
  
  background-color: var(--colorWhite);
  border-radius: 20px;
  overflow: hidden;
}

#dados {
  width: 400px;
  background-color: var(--colorWhite);
  padding: 25px;
}

#result {
  width: 400px;
  background-color: var(--colorSlate900);
  border-bottom-left-radius: 60px;
  padding: 25px;
}
