@media (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Permite rolagem vertical */
    display: block;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center;
    border-radius: 0;
  }

  #dados,
  #result {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100px; /* Ajuste conforme o conteúdo */
  }

  header h1 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  #btnCalc {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
  }

  form {
    width: 100%;
  }

  #years,
  #rate {
    width: 100%;
    padding-right: 0;
  }

  #yearsCase,
  #rateCase {
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
  }

  #years-rate {
    display: flex;
    flex-direction: column;
  }

  #result {
    border-radius: 0;
    min-height: 100px; /* Ajuste conforme o conteúdo */
  }
}
